<!DOCTYPE html>
<html>
	<head>
		<title>BAC - About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Bumps and Crashes</h2>
			<br>
			<p>Our project is aimed at comparing data between traffic incidents and the presence of speed humps. <br>We use the <a href="http://ciy-bumpsandcrashes-api.herokuapp.com">Bumps and Crashes API</a> to access data on speed bumps and traffic incidents in NYC from <a href="https://opendata.cityofnewyork.us/">NYCOpenData</a>. <br>To cut down on data size and latency, we only included accident data from 2018.  <br>Our goal is to test our hypothesis that an increase in speed bumps in certain areas leads to a decrease in traffic incidents. </p>

To save collections of data, you must create an account.
<br><br>
Note that the search and saved data pages take a long time to load.  Stick it out; the website is not broken.

		</div>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
