<!DOCTYPE html>
<html>
	<head>
		<title>BAC - About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Bumps and Crashes</h2>
			<br>
			Our project is aimed at comparing data between traffic incidents and the presence of speed humps. We will be using NYCOpenData to try to find connections between the data. Our goal is to test our hypothesis that an increase in speed bumps in certain areas leads to a decrease in traffic incidents..
			<br>
			<br>
		</div>

		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
