<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>BAC - Index</title>


</head>
<body>

<div class="container">
	<div class="page-header">
		<% include global/header %>
	</div>


<p>Our project is aimed at comparing data between traffic incidents and the presence of speed humps. We will be using NYCOpenData to try to find connections between the data. Our goal is to test our hypothesis that an increase in speed bumps in certain areas leads to a decrease in traffic incidents. </p>



<div id="feedback">

</div>
<div id="enter_name" class="bodydiv">
	<h2>Welcome to Paper, Rock, Scissors</h2>
		<%if(locals.user){%>
	<p><%=user.result%></p>
		<%}else{%>
	<p><%="Please log in."%></p>
		<%}%>
	<form action="/login" method="get">
		Username:<input type="text" id="enter_name_input" name="player_name" required>
		Password:<input type="text" id="enter_password_input" name="player_password" required>
		<button type="submit" id = "enter_name_button">Login</button>
	</form>
	<br>
	<a class="styledlink" href="/user/new">Create account</a>
</div>


<span class="hidden" id="userBox"><%for(var i=0;i<users.length;i++){%><%-users[i]%>,<%}%></span>


<script src="jquery/dist/jquery.js"> </script>
<script src="/scripts/scriptsJQ.js"> </script>
<script src="/scripts/scripts.js"></script>

</body>
</html>
