
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BAC - Index</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/styles/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  
  <div class="page-header">
		<% include global/header %>
	</div>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
            <%if(locals.user){%>
	           <p><%=user.result%></p>
		            <%}else{%>
	            <p><%="Welcome! Please log in."%></p>
		             <%}%>
          <p class="lead"><p>Our project is aimed at comparing data between traffic incidents and the presence of speed humps. We will be using NYCOpenData to try to find connections between the data. Our goal is to test our hypothesis that an increase in speed bumps in certain areas leads to a decrease in traffic incidents. </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <form action="/login" method="get">
      		Username:<input type="text" id="enter_name_input" name="player_name" required>
      		Password:<input type="text" id="enter_password_input" name="player_password" required>
      		<button type="submit" id = "enter_name_button">Login</button>
      	</form>
      	<a class="styledlink" href="/user/new">Create account</a>
      </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact Us</h2>
          <p class="lead">This project was made by Geordie Young, Charles Cunningham, and Rifat Islam. Have any questions? Feel free to contact us through Trinity e-mail.</p>
        </div>
      </div>
    </div>
  </section>

  	<% include global/footer %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/scripts/scrolling-nav.js"></script>

  <script src="jquery/dist/jquery.js"> </script>
  <script src="/scripts/scriptsJQ.js"> </script>
  <script src="/scripts/scripts.js"></script>
</body>

</html>
