<!DOCTYPE html>
<html>
	<head>
		<title>Bumps and Crashes - Saved Data</title>
		<link rel="stylesheet" href="../../styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
  </body>

  <p> This page will contain all of the data that has been saved by the user by clicking the button "Save this incident to your data"</p>
</html>
