







<!DOCTYPE html>
<html>
  <head>
		<title>BAC - Search</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">

    <meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  </head>
  <body>

		<span id="userBox"><%if(locals.user){%><%=user.username%><%}%></span>
		<% include global/header %>


			<!-- Map -->
<div class="bodydiv">
  <span id="searchB">
	Search for <span class="green">bumps</span> and <span class="red">crashes</span>:
	<input type="text" id="searchterm"> by
	<select  id="searchoptions">
        <datalist>
<option value="zipcode">Zip Code</option>
<option value="afterdate">After Date (mm/dd/yyyy)</option>
<option value="beforedate">Before Date (mm/dd/yyyy)</option>
<option value="street">Street</option>
<option value="borough">Borough</option>
</datalist></select>

	<button id="searchbc" type="button">Search</button>
<span id="save"><button class="hidden" id="savebut" data-toggle="modal" data-target="#saveviewmodal" type="button">Save</button></span>

</span>
  <div id="loader"></div>
</div>

	<br><br>


  <div id='map'></div>



      <div class="modal fade" id="saveviewmodal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Save View</h4>
            </div>
            <div class="modal-body">
              <p>Name your view:</p><input type="text" id="viewsavename">
              <button id="savebutmodal" data-dismiss="modal" type="button">Save</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--<p class="bottom-three">	</p>-->
  <% include global/footer %>

  </body>

	<script src="jquery/dist/jquery.js"> </script>	<script src="/scripts/scriptsJQ.js"> </script>
	<script src="/scripts/scripts.js"></script>


</html>
