<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="initial-scale=1.0">


		<title>BAC - Search</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<span id="userBox"><%if(locals.user){%><%=user.username%><%}%></span>
		<% include global/header %>


			<!-- Map -->
<div class="bodydiv">
	Search for bumps and crashes:
	<input type="text" id="searchterm"> by
	<select name="searchoptions">
<option value="zipcode">Zip Code</option>
<option value="afterdate">After Date (dd/mm/yyyy)</option>
<option value="beforedate">Before Date (dd/mm/yyyy)</option>
<option value="street">Street</option>
<option value="borough">Borough</option>
<option value="dist">Distance from selected point</option>
</datalist>
	<br>
	<input id="searchbc" type="submit">
	</div>
	<br><br>

	<div id="map"></div>
	    <script>
	      var map;
	      function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: -34.397, lng: 150.644},
	          zoom: 8
	        });
	      }
	    </script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrhDK19qy0m3Vfg7CGPwF47c5RgmbmcA0&callback=initMap"
	    async defer></script>

				<!--<iframe frameborder=0 style='width:100%;height:500px;' src='//www.zeemaps.com/pub?group=3410119'> </iframe>
-->

		</body>





		<% include global/footer %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="jquery/dist/jquery.js"> </script>
		<script src="/scripts/scriptsJQ.js"> </script>
		<script src="/scripts/scripts.js"></script>
		<!-- <script src="/scripts/search-p5.js"></script> -->

	</body>
</html>
