







<!DOCTYPE html>
<html>
  <head>
		<title>BAC - Search</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">

    <meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />


  </head>
  <body>

		<span id="userBox"><%if(locals.user){%><%=user.username%><%}%></span>
		<% include global/header %>


			<!-- Map -->
<div class="bodydiv">
	Search for bumps and crashes:
	<input type="text" id="searchterm"> by
	<select name="searchoptions">
        <datalist>
<option value="zipcode">Zip Code</option>
<option value="afterdate">After Date (dd/mm/yyyy)</option>
<option value="beforedate">Before Date (dd/mm/yyyy)</option>
<option value="street">Street</option>
<option value="borough">Borough</option>
</datalist>
	<br>
	<input id="searchbc" type="submit">
	</div>
	<br><br>


  <div id='map'></div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--<p class="bottom-three">	</p>-->
  <% include global/footer %>

  </body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	<script src="jquery/dist/jquery.js"> </script>
	<script src="/scripts/scriptsJQ.js"> </script>
	<script src="/scripts/scripts.js"></script>


</html>
