<!DOCTYPE html>
<html>
	<head>
		<title>BAC - Search</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<span id="userBox"><%if(locals.user){%><%=user.username%><%}%></span>
		<% include global/header %>
		Content
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
